<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:text="${add} ? 'Create a Task' : 'Edit a Task'" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
    <body>
        <h1 th:text="${add} ? 'Create a Task:' : 'Edit a Task:'" />
        <a th:href="@{/tasks}">Back to Task List</a>
        <br/><br/>
        <form th:action="${add} ? @{/tasks/add} : @{/tasks/{taskId}/edit(taskId=${task.id})}"
              th:object="${task}" method="POST">
            <table border="0">
                <tr th:if="${task.id}">
                    <td>ID</td>
                    <td>:</td>
                    <td th:utext="${task.id}">...</td>             
                </tr>
                <tr>
                    <td>Theme</td>
                    <td>:</td>
                    <td><input type="text" th:field="*{theme}" /></td>              
                </tr>
                <tr>
                    <td>Type</td>
                    <td>:</td>
                    <td><input type="text" th:field="*{taskType}" /></td>             
                </tr>
                <tr>
                    <td>Priority</td>
                    <td>:</td>
                    <td><input type="number" th:field="*{priority}" /></td>             
                </tr>   
                <tr>
                    <td>Description</td>
                    <td>:</td>
                    <td><input type="text" th:field="*{description}" /></td>             
                </tr>               
                <tr>
                    <td>User</td>
                    <td>:</td>
                    <td><input type="text" th:field="*{priority}" /></td>             
                </tr> 
                <tr>
                    <td>Task</td>
                    <td>:</td>
                    <td><input type="text" th:field="*{priority}" /></td>             
                </tr>
            </table>
            <input type="submit" th:value="${add} ? 'Create' : 'Update'" />
        </form>

        <br/>
        <!-- Check if errorMessage is not null and not empty -->       
        <div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />       
    </body>
</html>