<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>View User</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
    <body>
        <h1>View User</h1>
        <a th:href="@{/users}">Back to User List</a>
        <br/><br/>
        <div th:if="${user}">
            <table border="0">
                <tr>
                    <td>ID</td>
                    <td>:</td>
                    <td th:utext="${user.id}">...</td>          
                </tr>
                <tr>
                    <td>First Name</td>
                    <td>:</td>
                    <td th:utext="${user.firstName}">...</td>             
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>:</td>
                    <td th:utext="${user.lastName}">...</td>             
                </tr>
                <tr>
                    <td>Project</td>
                    <td>:</td>
                    <td th:utext="${user.project.title}">...</td>             
                </tr>                                              
            </table>
            <br/><br/>
            <div th:if="not ${allowDelete}">
                <a th:href="@{/users/{userId}/edit(userId=${user.id})}">Edit</a> |
                <a th:href="@{/users/{userId}/delete(userId=${user.id})}">Delete</a>
            </div>
            <form th:if="${allowDelete}" th:action="@{/users/{userId}/delete(userId=${user.id})}" method="POST">
                Delete this user? <input type="submit" th:value="Yes" />
            </form>
        </div>
        <div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />        
    </body>
</html>